.chat{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 950px;
    background-color: black;
    flex-direction: column;
}

#chatbox{
    min-height: 700px;
    width: 1100px;
    border-radius: 15px;
    background-color: rgb(48, 47, 47);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    /* overflow: hidden; */
    /* overflow-y: scroll; */
    margin-top: 50px;
}

#inpbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 1100px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#inpbox input{
    height: 50px;
    width: 900px;
    border: none;
    border-radius: 10px;
    background-color: rgb(48, 47, 47);
    font-size: 18px;
    color: rgb(218, 218, 218);
}

#inpbox button{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: coral;
    margin-left: 20px;
    font-size: 18px;
}

.msg{
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    flex-direction: column;
    min-height: 30px;
    min-width: 20px;
    max-width: 350px;
    border-radius: 10px;
    background-color: blueviolet;
    margin-top: 20px;
    word-wrap: break-word;
    margin-left: 20px;
    color: white;
    padding: 8px;
    margin-bottom: 10px;
    
}

.dm{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    min-height: 30px;
    min-width: 20px;
    max-width: 350px;
    border-radius: 10px;
    background-color: rgb(43, 226, 156);
    margin-top: 20px;
    word-wrap: break-word;
    position: relative;
    left: 690px;
    margin-right: 20px;
    color: black;
    padding: 8px;
}

#room{
    background-color: rgba(48, 47, 47, 0.61);
    height: 60px;
    width: 1100px;
    border-radius: 10px;
    /* margin-top: 25px; */
    display: flex;
    align-items: center;
    justify-content: start;
    position: fixed;
    top: 25px;
    z-index: 3;
}

#room h2{
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-left: 25px;
}

#logo{
    height: 55px;
    width: 55px;
    border-radius: 50px;
    margin-left: 10px;
}

#logo img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.msg span{
    position: relative;
    /* top: 0px; */
    right: 10px;
    background-color: rgba(51, 50, 50, 0.534);
    padding: 5px;
    border-radius: 10px;
}

@media only screen and (max-width: 600px){
    .chat{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 850px;
        background-color: black;
        flex-direction: column;
    }
    
    #chatbox{
        min-height: 400px;
        width: 345px;
        border-radius: 15px;
        background-color: rgb(48, 47, 47);
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        /* overflow: hidden; */
        /* overflow-y: scroll; */
        margin-top: 0px;
    }
    
    #inpbox{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        width: 345px;
        margin-top: 30px;
        margin-bottom: 20px;
        flex-direction: column;
    }
    
    #inpbox input{
        height: 40px;
        width: 320px;
        border: none;
        border-radius: 10px;
        background-color: rgb(48, 47, 47);
        font-size: 18px;
        color: rgb(218, 218, 218);
    }
    
    #inpbox button{
        height: 40px;
        width: 320px;
        border: none;
        border-radius: 10px;
        color: white;
        background-color: coral;
        margin-left: 0px;
        font-size: 18px;
        margin-top: 20PX;
    }
    
    .msg{
        display: flex;
        align-items: center;
        font-size: 15px;
        justify-content: center;
        min-height: 30px;
        min-width: 20px;
        max-width: 150px;
        border-radius: 10px;
        background-color: blueviolet;
        margin-top: 20px;
        word-wrap: break-word;
        margin-left: 20px;
        color: white;
        padding: 8px;
        margin-bottom: 10px;
        
    }
    
    .dm{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        font-size: 15px;
        justify-content: center;
        min-height: 30px;
        min-width: 20px;
        max-width: 150px;
        border-radius: 10px;
        background-color: rgb(43, 226, 156);
        margin-top: 20px;
        word-wrap: break-word;
        position: relative;
        left: 140px;
        margin-right: 20px;
        color: black;
        padding: 8px;
    }
    
    #room{
        background-color: rgb(48, 47, 47);
        height: 60px;
        width: 345px;
        border-radius: 10px;
        /* margin-top: 25px; */
        display: flex;
        align-items: center;
        justify-content: start;
        position: fixed;
        top: 25px;
        z-index: 3;
    }
    
    #room h2{
        font-size: 18px;
        font-weight: 400;
        color: white;
        margin-left: 25px;
    }
    
    #logo{
        height: 55px;
        width: 55px;
        border-radius: 50px;
        margin-left: 10px;
    }
    
    #logo img{
        height: 100%;
        width: 100%;
        border-radius: 50px;
    }
}

